<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="DAO.Properties.Settings.QLHSConnectionString" connectionString="Data Source=DESKTOP-3OG7IFJ\ACHILLES;Initial Catalog=QLHS;User ID=sa;Password=haithanhf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>